@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 color: #fff;
}


body{
  background-color: #111;
}

#tasklist::-webkit-scrollbar{
  display: none;
}

#task::-webkit-scrollbar{
  width: 5px;
}
#task::-webkit-scrollbar-track{
  border-radius: 1rem;
  background-color: rgb(170, 162, 162);
}
#task::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: rgb(112, 108, 108);
}